<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capital City Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="buttons">
    <button onclick="startQuizc()" class="custom-buttonc"></button>
    <button onclick="startQuizpython()" class="custom-buttonpython"></button>
    <button onclick="startQuizjavascript()" class="custom-buttonjavascript"></button>
    <button onclick="startQuizcplus()" class="custom-buttoncplus"></button>
    <button onclick="startQuizcss()" class="custom-buttoncss"></button>
    <button onclick="startQuizhtml()" class="custom-buttonhtml"></button>
    <button onclick="startQuiznodejs()" class="custom-buttonnodejs"></button>
    <button onclick="startQuizsql()" class="custom-buttonsql"></button>
    <button onclick="startQuizjava()" class="custom-buttonjava"></button>
    <button onclick="startQuiznumpy()" class="custom-buttonnumpy"></button>
    <button onclick="startQuizpandas()" class="custom-buttonpandas"></button>
  </div>

  <script>
    function startQuizc() {
      window.location.href = '/quiz/mediumc' ;
    }
    function startQuizpython() {
      window.location.href = '/quiz/mediumpython' ;
    }
    function startQuizjavascript() {
      window.location.href = '/quiz/mediumjavascript' ;
    }
    function startQuizcplus() {
      window.location.href = '/quiz/mediumcplus' ;
    }
    function startQuizcss() {
      window.location.href = '/quiz/mediumcss' ;
    }
    function startQuizhtml() {
      window.location.href = '/quiz/meidumhtml' ;
    }
    function startQuiznodejs() {
      window.location.href = '/quiz/mediumnodejs' ;
    }
    function startQuizsql() {
      window.location.href = '/quiz/mediumsql' ;
    }
    function startQuizjava() {
      window.location.href = '/quiz/mediumjava' ;
    }
    function startQuiznumpy() {
      window.location.href = '/quiz/mediumnumpy' ;
    }
    function startQuizpandas() {
      window.location.href = '/quiz/mediumpandas' ;
    }
  </script>
</body>

</html>
